@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */


/* #faf5e6      light cream color
   #253667	    dark blue color */


body{
    background-color: #253667;
}
.blogHeading{
    font-family: 'Bad Script', cursive;
    text-align: center;
    font-weight: 1000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #faf5e6;
}
.blogItem > p{
    font-family: 'Roboto', sans-serif;
    margin: 1rem 5rem;
    text-align: justify;
    font-size: 1rem;
    color: #faf5e6;
}
.blogItem > h2{
    font-family: 'Caveat', cursive;
    margin: 1rem 2rem;
    font-size: 2rem;
    color: #faf5e6;
}
li{
    font-family: 'Roboto', sans-serif;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 30px;
    color: #faf5e6;
}
li span{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    font-weight: bold;
    color: #faf5e6;
}

@media screen and (max-width: 1400px){
    html{
        font-size: 100%;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 70%;
        font-weight: 600;
    }
    .blogItem > h2{
        font-size: 25px;
    }
    li span{
        font-size: 20px;
    }
    li{
        font-family: 'Roboto', sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    .blogItem > p{
        margin: 10px 20px;
        font-size: 1rem;
    }
}
