@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */


/* #faf5e6      light cream color
   #253667	    dark blue color */

body{
    background-color: #253667;
}
.contactForm{
    font-family: 'Roboto', sans-serif;
    color: #faf5e6;
    padding: 5rem 3rem;
}
.contactForm h1{
    font-family: 'Bad Script', cursive;
    font-weight: 1000;
    margin-bottom: 1rem;
}
.mb-3{
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0;
}
form input, textarea{
    background-color: #4c69c0;
    padding: 0.5rem 1rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#form-check{
    flex-direction: row;
}
#form-check label{
    margin-left: 1rem;
}
.emailHelp{
    font-size: 1rem;
    margin: 1rem auto;
}
#btn-sm{
    width: 5rem;
    background-color: #faf5e6;
    color: #253667;
    padding: 0.2rem;
    margin: 1rem;
    font-size: 1rem;
} 
#btn-sm:hover{
    background-color: #ffe38e;
}

@media screen and (max-width: 835px){
    html{
        font-size: 100%;
    }
    .contactForm h1{
        font-size: 20px;
    }
    .contactForm{
        font-family: 'Roboto', sans-serif;
        color: #faf5e6;
        padding: 5rem 0.2rem;
    }
    .emailHelp{
        font-size: 0.5rem;
        margin: 1rem auto;
    }
}
