@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */


/* #faf5e6      light cream color
   #253667	    dark blue color */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #253667;
}
.mainContent{
    background-color: #253667;
    width: 100%;
    height: 1900px;
}
.mainHeader{
    font-family: 'Bad Script', cursive;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    color: #faf5e6;
}
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whoAmIDiv{
    width: 80%;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1b2542;
}
.skills{
    width: 80%;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1b2542;
}
.education{
    width: 80%;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1b2542;
}
.whoAmI{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: auto 60px;
    color: #faf5e6;
}
.mySkills{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: auto 60px;
    text-align: center;
    color: #faf5e6;
}
.introParagh{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10px 60px auto;
    line-height: 40px;
    text-align: center;
    color: #faf5e6;
}
.myLearningsDiv{
    width: 80%;
    margin-top: 100px;
    text-align: center;
    background-color: #1b2542;
    padding-top: 30px;
    padding-bottom: 30px;
}
.myLearnings{
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: auto 60px;
    color: #faf5e6;
}
.myEducation{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 60px;
    margin: auto 60px;
    color: #faf5e6;
}
.introButton{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    .mainHeader{
        font-size: 40px;
        margin-top: 40px;
    }
    .whoAmI{
        font-size: 40px;
    }
    .mySkills{
        font-size: 40px;
    }
    .myLearnings{
        font-size: 40px;
    }
    .myEducation{
        font-size: 40px;
    }
    .introParagh{
        font-size: 20px;
        margin: 10px 60px auto;
    }
}

@media screen and (max-width: 750px){
    .mainHeader{
        font-size: 20px;
        margin-top: 40px;
    }
    .whoAmI{
        font-size: 20px;
        margin: auto 10px;
    }
    .mySkills{
        font-size: 20px;
    }
    .myLearningsDiv{
        margin-top: 69px;
    }
    .myLearnings{
        font-size: 20px;
    }
    .myEducation{
        font-size: 20px;
    }
    .introParagh{
        font-size: 14px;
        margin: 10px 20px auto;
        line-height: 20px;
        text-align: left;
    }
    .mainContent{
        height: 1400px;
    }
}
