@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */


/* #faf5e6      light cream color
   #253667	    dark blue color */


.fullBox{
    background-color: #253667;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1{
    width: 80%;
    height: 500px;
    background-color: #212a46;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 100px auto 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}


.box2{
    width: 80%;
    height: 500px;
    background-color: #212a46;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 100px auto 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.projectTitle{
    font-size: 50px;
    font-family: 'Bad Script', cursive;
    font-weight: 1000;
    margin-top: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding-right: 60px;
    padding-left: 60px;
    color: #faf5e6;
    background-color: #253667;
}

.project1Content{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: #faf5e6;
}
.project2Content{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: #faf5e6;
}

.projectImage{
    width: 400px;
    height: 400px;
    margin: auto 30px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.projectHeading{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: #faf5e6;
}

@media screen and (max-width: 1300px){
    html{
        font-size: 80%;
    }
    .box1{
        width: 50%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }
    .projectImage{
        width: 20em;
        height: 260px;
        margin: 20px 30px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    .box2{
        width: 50%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }
    .project1Content{
        font-size: 12px;
    }
    .project2Content{
        font-size: 12px;
    }
}

@media screen and (max-width: 760px){
    html{
        font-size: 80%;
    }
    .box1{
        width: 95%;
        height: 700px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .iframe{
        width: 100%;
        height: auto;
    }
    .projectImage{
        width: 80%;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    .project1Content{
        font-size: 14px;
        margin-bottom: 50px;
    }
    .box2{
        width: 95%;
        height: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .project2Content{
        font-size: 14px;
        margin-bottom: 50px;
    }
    .projectTitle{
        font-size: 30px;
    }
}
