@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */


/* #faf5e6      light cream color
   #253667	    dark blue color */


.fullBox{
    align-items: center;
    background-color: #253667;
    justify-content: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.box1{
    width: 1200px;
    height: 600px;
    background-color: #212a46;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 100px auto 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}


.box2{
    width: 1200px;
    height: 600px;
    background-color: #212a46;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 100px auto 100px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.projectTitle{
    font-size: 60px;
    font-family: 'Bad Script', cursive;
    font-weight: 1000;
    margin-top: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding-right: 60px;
    padding-left: 60px;
    color: #faf5e6;
    background-color: #253667;
}

.project1Content{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #faf5e6;
}
.project2Content{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: #faf5e6;
}

.projectImage{
    width: 800px;
    height: 500px;
    margin: auto 30px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.projectHeading{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: #faf5e6;
}

@media screen and (max-width: 1400px){
    html{
        font-size: 80%;
    }
    .box1{
        width: 800px;
        margin: 100px auto 100px;
    }
    .projectImage{
        width: 400px;
        height: 300px;
        margin: auto 30px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    .box2{
        width: 800px;
        margin: 100px auto 100px;
    }
}

@media screen and (max-width: 850px){
    html{
        font-size: 80%;
    }
    .box1{
        width: 350px;
        height: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .projectImage{
        width: 400px;
        height: 300px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    .project1Content{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .box2{
        width: 350px;
        height: 700px;
        margin: 40px auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .project2Content{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .projectTitle{
        font-size: 30px;
    }
}
