@media screen and (max-width: 2500px) {
    html{
        font-size: 60%;
    }
    .myImage {
        left: -200px;
    }
}



@media screen and (max-width: 1665px) {
    html{
        font-size: 30%;
    }
    .myImage {
        left: -100px;
    }
    .frontEndDevDiv h4 {
        font-size: 7rem;
    }
    .skillsImage {
        width: 130rem;
        height: fit-content;
        position: absolute;
        opacity: 40%;
    }
    #logo{
        width: 5vw;
    }
    header ul li, #name{
        font-size: 30px;
    }
    #navbutton{
        scale: 3;
        margin-right: 20px;
    }
}


@media screen and (max-width: 765px) {
    html{
        font-size: 20%;
    }
    #logo{
        width: 7vw;
    }
    header ul li, #name{
        font-size: 10px;
    }
    .frontEndDevDiv h4 {
        font-size: 3rem;
    }
    #navbutton{
        scale: 2;
        margin-right: 20px;
    }
    .skillsImage {
        width: 100vw;
        height: fit-content;
        position: absolute;
        opacity: 40%;
    }
}