@media screen and (max-width:1000px) {
    .aboutparaDiv {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: auto auto 50px;
    }

    #name{
        display: none;
    }

    .aboutpara {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        z-index: 10;
    }

    .textDiv {
        margin-right: 1px;
        padding: 10px;
        text-align: justify;
    }

    .skillsParaDiv {
        font-size: 15px;
        margin: 50px auto;
    }

    .educationDiv {
        font-size: 15px;
        margin: 50px auto;
    }

    .workDiv {
        margin: 50px auto;
    }

    .workpara {
        font-size: 15px;
    }

    .myImage {
        width: 45vw;
        height: fit-content;
        margin: 100px auto auto;
    }

    .aequsImage {
        width: 60vw;
    }

    #linked {
        font-size: 10px;
    }
    #messege{
        font-size: 20px;
    }
}



@media screen and (max-width:645px) {
    body {
        overflow-x: hidden;
    }

    #name{
        display: none;
    }

    .helloDiv {
        width: 95vw;
        height: 100vh;
    }

    .hello {
        font-size: 20vw;
        line-height: 1;
    }

    .aboutparaDiv {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: auto auto 50px;
    }

    .aboutpara {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }

    .textDiv {
        margin-right: auto;
        margin-left: auto;
        width: 85vw;
        padding-left: 20px;
    }

    .skillsParaDiv {
        margin: 20px auto;
    }

    .skillsPara,
    .educationpara,
    .workpara {
        font-size: 13px;
    }

    .myImage {
        width: 80vw;
        height: fit-content;
        margin: 30px auto auto;
    }

    .aequsImage {
        width: 70vw;
    }

    #name {
        display: none;
    }

    .headings {
        font-size: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    #messege{
        font-size: 20px;
    }
    .projectsDiv iframe{
        width: 100vw;
        height: 500px;
    }

}
