* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: #f8f9fa;
    color: rgb(43, 43, 43);
    position: sticky;
    width: 100vw;
}

.navbar-dark {
    background-color: rgb(43, 43, 43);
    color: #f8f9fa;
}

#logo{
    width: 3vw;
}
header ul li, #name{
    font-size: 40px;
}

body {
    background-color: #f8f9fa;
    color: rgb(43, 43, 43);
}

.dark-mode {
    background-color: rgb(43, 43, 43);
    color: #f8f9fa;
}

.carousel {
    width: 80%;
    display: flex;
}

.frontEndDevDiv {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(102, 228, 64); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontEndDevDiv h4 {
    font-size: 4rem;
    height: 10vh;
}

.helloDiv {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(255, 166, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello {
    font-size: 39vw;
    line-height: 1;
    overflow-y: hidden;
}

.aboutparaDiv {
    display: flex;
    align-items: center;
    width: 100vw;
    padding-top: 5rem;
    /* background-color: yellow; */
}

.aboutpara {
    width: 100vw;
    font-size: 4rem;
    margin-right: 5vw;
    margin-left: 22vw;
}

.myImage {
    width: 80rem;
    position: absolute;
    left: -400px;
}

.skillsParaDiv {
    width: 100vw;
    /* background-color: pink; */
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.skillsPara {
    width: 100vw;
    font-size: 4rem;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 10;
}

.skillsImage {
    width: 130rem;
    height: fit-content;
    right: 0;
    position: absolute;
    opacity: 40%;
}

.educationDiv {
    width: 100vw;
    /* background-color: aqua; */
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.educationpara {
    width: 80vw;
    font-size: 4rem;
    margin: auto 200px;
}

.experienceDiv {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: bisque; */
}

.experienceDiv .headings {
    padding-left: 5vw;
}

.experiencePara {
    width: 100vw;
    font-size: 4rem;
    padding-left: 5vw;
    padding-right: 8vw;
    text-align: justify;
}

.aequsImage {
    width: 70vw;
    margin-top: 300rem;
    position: static;
    opacity: 70%;
}

.headings {
    font-size: 10vw;
}

.skillsSpan {
    color: rgb(133, 133, 133);
    font-weight: 700;
}
.skillsSpan2 {
    color: rgb(197, 57, 57);
}

.educationSpan {
    color: rgb(255, 145, 0);
    font-weight: 500;
}