* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #ffcf90;
    color: rgb(43, 43, 43);
    opacity: 90%;
    width: 100vw;
}
.navbar-dark{
    background-color: rgb(0, 0, 0);
    color: #f8f9fa;
}

body {
    color: rgb(43, 43, 43);
    overflow-x: hidden;
}

.white-mode {
    background-color: #ffcf90;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: #f8f9fa;
}

.carousel {
    width: 100vw;
    display: flex;
}

.fronEndDevDiv {
    width: 100%;
    height: 100vh;
    margin: 16vh auto;
    /* background-color: rgb(255, 166, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fronEndDevDiv h4{
    font-weight: 700;
    font-size: 4vw;
}
.helloDiv {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.hello {
    font-size: 30vw;
    line-height: 1;
}

.aboutpara {
    text-align: justify;
    font-size: 1.5vw;
}

.aboutparaDiv {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(233, 27, 27); */
    border-radius: 10px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
}
.aboutparaDivDark {
    background-color: rgb(0, 0, 0);
}

.textDiv{
    background-color: #ffab3e;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    height: fit-content;
    margin-right: 30px;
    padding: 40px;
    width: 100vw;
}
.textDivDark{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

}

.skillsParaDiv {
    display: flex;
    background-color: #ffcf90;
    border-radius: 40px;
    margin: 50px 20px;
    display: flex;
    align-items: center;
}

.skillsPara{
    font-size: 1.5vw;
}
.skillsParaDivDark {
    background-color: rgb(0, 0, 0);
}

.educationDiv {
    display: flex;
    background-color: #ffcf90;
    border-radius: 40px;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.educationDivDark {
    background-color: rgb(0, 0, 0);
}
.educationpara{
    padding: 30px;
    font-size: 1.5vw;
}
.workDiv {
    display: flex;
    background-color: #ffcf90;
    border-radius: 40px;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workpara{
    font-size: 1.5vw;
}

.workDivDark {
    background-color: rgb(0, 0, 0);
}

.myImage {
    width: 30vw;
    height: fit-content;
    margin: 0 auto 0;
}

.aequsImage {
    width: 60%;
}

.headings {
    font-size: 10vw;
}

.skillsSpan {
    color: red;
    font-weight: 700;
}

.educationSpan {
    color: red;
    font-weight: 500;
}

#messege{
    color: greenyellow;
    font-size: 1vw;
    font-weight: 500;
}

#logo{
    width: 2rem;
}
#linked{
    font-size: 20px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
    background-color: #ffcf90;
}
